.nav__container {
    @include direction(flex, space-around, center, row);
    width: 100%;
    padding: 15px;
}

.nav__list {
    @include direction(flex, space-around, center, row);
}

.nav__list-item {
    @include main-text(22px, 600);
    letter-spacing: 1.1px;
    &:not(:last-child) {
        margin-right: 15px;
    }
    & a {
        padding: 10px;
        cursor: pointer;
        color: $black;
    }
    & a.active {
        color: $blue;
        transform: scale(1.1);
    }
    & a:hover {
         transform: scale(1.1);
    }
}

@media screen and (min-width: 720px) {
    .nav__list-item {
        @include main-text(24px, 600);
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .nav__container {
        @include direction(flex, center, center, row);
    }
    
    .nav__list-item {
        @include main-text(24px, 600);
    }

}