.form__title-field {
    @include main-text(18px, 400);
    padding: 4px 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
}

.form__description-field {
    @include main-text(18px, 400);
    padding: 8px 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    resize: none;
}