$completed: #64ff00;
$white: #fff;
$black: #000;
$grayDark: #5b5b5b;
$grayMid: #777777;
$newGray: #c0c0c0;
$accent: #a6192e;
$red: #db4437;
$yellow: #e2b534;
$textGrayMid: #828282;
$blue: #4285f4;
$green: #0f9d58; 
